// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$newconsensus-web-primary: mat-palette($mat-indigo);
$newconsensus-web-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$newconsensus-web-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$newconsensus-web-theme: mat-light-theme($newconsensus-web-primary, $newconsensus-web-accent, $newconsensus-web-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($newconsensus-web-theme);

/* You can add global styles to this file, and also import other style files */

@import "styles/styles";
@import "~swiper/dist/css/swiper.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
html,
body {
    height: auto;
    width: 100%;
}

body {
    margin: 0;
}

figure {
    img {
        max-width: 100%;
    }
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

// @font-face{
//     font-family: 'sukhumvitset100';
//     src: url('../src/app/sukhumvitSet/SukhumvitSet-Thin.ttf') format('truetype');
//     font-style: normal;
// }
// @font-face{
//     font-family: 'sukhumvitset200';
//     src: url('../src/app/sukhumvitSet/SukhumvitSet-Light.ttf') format('truetype');
//     font-style: normal;
// }
// @font-face{
//     font-family: 'sukhumvitset300';
//     src: url('../src/app/sukhumvitSet/SukhumvitSet-Text.ttf') format('truetype');
//     font-style: normal;
// }
// @font-face{
//     font-family: 'sukhumvitset400';
//     src: url('../src/app/sukhumvitSet/SukhumvitSet-Medium.ttf') format('truetype');
//     font-style: normal;
// }
// @font-face{
//     font-family: 'sukhumvitset500';
//     src: url('../src/app/sukhumvitSet/SukhumvitSet-SemiBold.ttf') format('truetype');
//     font-style: normal;
// }
// @font-face{
//     font-family: 'sukhumvitset600';
//     src: url('../src/app/sukhumvitSet/SukhumvitSet-Bold.ttf') format('truetype');
//     font-style: normal;
//     font-weight: 600;
// }
//------------------------------------------------------------------//
@font-face {
    font-family: "prompt100";
    src: url("../src/app/Prompt/Prompt-Thin.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "prompt200";
    src: url("../src/app/Prompt/Prompt-Light.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "prompt300";
    src: url("../src/app/Prompt/Prompt-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "prompt400";
    src: url("../src/app/Prompt/Prompt-Medium.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "prompt500";
    src: url("../src/app/Prompt/Prompt-SemiBold.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "prompt600";
    src: url("../src/app/Prompt/Prompt-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

.mystyle {
    z-index: 3;
    position: fixed;
    top: 60px;
    width: 90%;
    left: 5%;
    align-items: center;
    justify-content: center;
}

.mystyle2 {
    z-index: 1;
    position: fixed;
    top: 60px;
    width: 100vw;
    height: 55pt;
    left: 0;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    background-color: white;
}

.room-sticky {
    width: 100pt;
    height: 35pt;
    font-size: 12px;
    &:hover {
        opacity: 1;
    }
}

.mat-option{
    @include font-size-8-300;
}