<div class="admin-tag-page">
    <mat-drawer-container class="example-container" [hasBackdrop]="true">
        <mat-drawer #drawerComment style="width: 100%;" [mode]="'over'" [position]="'end'" [disableClose]="true">
            <admin-votecomment-page #voteComment (back)="clickVoteCommentBack()"></admin-votecomment-page>
        </mat-drawer>
        <mat-drawer-content>
            <mat-drawer-container class="example-container" [hasBackdrop]="true">
                <mat-drawer #drawer style="width: 100%;" [mode]="'over'" [position]="'end'" [disableClose]="true">
                    <div class="wrapper-preview-form">
                        <div class="wrapper-preview">
                            <div class="wrapper-vote-comment-post-page">
                                <div class="newcon-vote-comment-img"
                                    [ngStyle]="{'background-image': 'url('+dataForm.coverImage+')'}">
                                </div>
                                <div class="newcon-vote-comment-content">
                                    <div class="newcon-vote-code">
                                        <div class="newcon-vote-code-left">
                                            <div class="newcon-vote-code-left-number">
                                                รหัสโหวต
                                                <span>{{dataForm.id ? dataForm.id : 1 | prefixNumber: 5}}</span>
                                            </div>
                                        </div>
                                        <div class="newcon-vote-code-right">
                                            <div class="newcon-vote-code-right-percent">
                                                <span class="newcon-vote-code-right-percent-count"
                                                    [ngStyle]="{'color': 'rgba(93,104,186,1)'}">
                                                    {{60 | number: '1.0-2'}}%
                                                </span>
                                                <span class="newcon-vote-code-right-percent-head">เห็นด้วย</span>
                                            </div>
                                            <div class="newcon-vote-code-right-percent">
                                                <span class="newcon-vote-code-right-percent-count"
                                                    [ngStyle]="{'color': 'rgba(239,91,109,1)'}">
                                                    {{20 | number: '1.0-2'}}%
                                                </span>
                                                <span class="newcon-vote-code-right-percent-head">ไม่เห็นด้วย</span>
                                            </div>
                                            <div class="newcon-vote-code-right-percent">
                                                <span class="newcon-vote-code-right-percent-count"
                                                    [ngStyle]="{'color': 'rgba(38,136,152,1)'}">
                                                    {{20 | number: '1.0-2'}}%
                                                </span>
                                                <span
                                                    class="newcon-vote-code-right-percent-head">ไม่แสดงความคิดเห็น</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="newcon-vote-comment-content-layout">
                                        <div class="newcon-vote-comment-content-layout-head">
                                            {{dataForm.title}}
                                        </div>
                                        <div class="newcon-vote-comment-content-layout-tagline">
                                            {{dataForm.tagline}}
                                        </div>
                                        <div class="newcon-vote-comment-content-layout-div-video">
                                            <ng-container *ngIf="fieldRadios[0].fieldSelect === 'videoUrl'; else elsePreviewImage">
                                                <admin-video-view *ngIf="dataForm.videoUrl" [videoForm]="videoForm" [url]="dataForm.videoUrl">
                                                </admin-video-view>
                                            </ng-container>
                                            <ng-template #elsePreviewImage>
                                                <img src="{{dataForm.imageUrl}}" alt=""
                                                    class="newcon-vote-comment-content-layout-video">
                                            </ng-template>
                                        </div>
                                        <div class="newcon-vote-comment-content-layout-rich-content">
                                            <span [innerHTML]="dataForm.content"></span>
                                        </div>
                                    </div>
                                    <div class="newcon-vote-comment-content-layout-bottom">
                                        <div class="newcon-vote-comment-content-layout-bottom-div">
                                            <div class="newcon-vote-comment-content-layout-bottom-left">
                                                <div class="newcon-vote-comment-content-layout-bottom-left-head">
                                                    ลิงค์ภายนอก :
                                                </div>
                                            </div>
                                            <div class="newcon-vote-comment-content-layout-bottom-right">
                                                <div
                                                    class="newcon-vote-comment-content-layout-bottom-right-external-video">
                                                    <a href="{{dataForm.link}}" target="_blank"
                                                        class="newcon-vote-comment-content-layout-bottom-right-external-video">
                                                        {{dataForm.link}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="newcon-vote-comment-content-layout-bottom-div">
                                            <div class="newcon-vote-comment-content-layout-bottom-left">
                                                <div class="newcon-vote-comment-content-layout-bottom-left-head">
                                                    แชร์ :
                                                </div>
                                            </div>
                                            <div class="newcon-vote-comment-content-layout-bottom-right">
                                                <div class="newcon-vote-comment-content-layout-bottom-right-share">
                                                    <a  target="_blank" class="share">
                                                        <img src="https://image.flaticon.com/icons/svg/145/145802.svg"
                                                            alt="{{dataForm.title}}" class="icon">
                                                    </a>
                                                    <a target="_blank" class="share">
                                                        <img src="https://image.flaticon.com/icons/svg/145/145812.svg"
                                                            alt="{{dataForm.title}}" class="icon">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="newcon-vote-comment-content-layout-bottom-div">
                                            <div class="newcon-vote-comment-content-layout-bottom-left">
                                                <div class="newcon-vote-comment-content-layout-bottom-left-head">
                                                    ผู้สร้าง :
                                                </div>
                                            </div>
                                            <div class="newcon-vote-comment-content-layout-bottom-right">
                                                <div class="newcon-vote-comment-content-layout-bottom-right-create">
                                                    <div class="newcon-button">-</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="newcon-vote-comment-content-layout-bottom-div tag-references">
                                            <div class="newcon-vote-comment-content-layout-bottom-left">
                                                <div class="newcon-vote-comment-content-layout-bottom-left-head">
                                                    อ้างอิง :
                                                </div>
                                            </div>
                                            <div class="newcon-vote-comment-content-layout-bottom-right">
                                                <div class="newcon-vote-comment-content-layout-bottom-right-References">
                                                    <div class="newcon-button">-</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <admin-form-component [data]="dataForm" [fieldRadios]="fieldRadios" [fields]="fields"
                            [title]="'โหวต'" (close)="clickCloseDrawer()" (save)="clickSave()"></admin-form-component>
                    </div>
                </mat-drawer>
                <mat-drawer-content>
                    <div class="main-content">
                        <admin-table-component #table [facade]="voteFacade" [title]="'โหวต'" [fieldTable]="fieldTable"
                            [actions]="actions" (create)="clickCreateForm()" (edit)="clickEditForm($event)"
                            (delete)="clickDelete($event)" (comment)="clickComment($event)"></admin-table-component>
                    </div>
                </mat-drawer-content>
            </mat-drawer-container>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
