.newcon-content-activities-page {
  position: relative;
  background: $bg-color1;

  > .detail-content {
    padding-top: 60pt;
    width: calc(91% - 10pt);
    padding-left: 5pt;
    padding-right: 5pt;
    margin-left: auto;
    margin-right: auto;

    > .detail-header-content {
      margin-bottom: 40pt;

      > .title {
        @include font-size-7-400;
      }

      > .tagline {
        margin-top: 5pt;
        @include font-size-9-200;
        min-height: 40px;
      }
    }

    > .image {
      height: auto;
      width: 100%;
      object-fit: cover;
      margin-bottom: 45pt;
    }
    > .detail-title-content {
      width: 91%;
      padding: 0 40pt;
      width: auto;
      height: auto;
      margin-bottom: 45pt;
      > .title {
        display: flex;
        @include font-size-7-400;
      }
      > .content {
        display: block;
        margin-top: 15pt;
        @include font-size-10-200;
        color: $gray;
      }
    }
  }
  > .div-map {
    width: calc(91% - 10pt);
    margin-left: auto;
    margin-right: auto;

    > .detail-map {
      width: 100%;
      height: 450pt;
      border: 0;
      margin-bottom: 15pt;
    }
  }
}

@media (max-width: $xxlarge) {
  .newcon-content-activities-page {
    > .detail-content {
      padding-top: 40pt;
      width: calc(92% - 10pt);

      > .detail-header-content {
        margin-bottom: 30pt;

        > .title {
        }

        > .tagline {
        }
      }

      > .image {
        margin-bottom: 35pt;
      }
      > .detail-title-content {
        padding: 0 35pt;
        margin-bottom: 35pt;
        > .title {
        }
        > .content {
          margin-top: 13pt;
        }
      }
    }
    > .div-map {
      width: calc(92% - 10pt);

      > .detail-map {
        height: 400pt;
      }
    }
  }
}

@media (max-width: $xlarge) {
  .newcon-content-activities-page {
    > .detail-content {
      padding-top: 35pt;
      width: calc(93% - 10pt);

      > .detail-header-content {
        margin-bottom: 25pt;

        > .title {
        }

        > .tagline {
        }
      }

      > .image {
        margin-bottom: 25pt;
      }
      > .detail-title-content {
        padding: 0 25pt;
        margin-bottom: 25pt;
        > .title {
        }
        > .content {
          margin-top: 11pt;
        }
      }
    }
    > .div-map {
      width: calc(93% - 10pt);

      > .detail-map {
        height: 360pt;
      }
    }
  }
}

@media (max-width: $large) {
  .newcon-content-activities-page {
    > .detail-content {
      padding-top: 30pt;
      width: calc(94% - 10pt);

      > .detail-header-content {
        margin-bottom: 20pt;

        > .title {
        }

        > .tagline {
        }
      }

      > .image {
        margin-bottom: 20pt;
      }
      > .detail-title-content {
        padding: 0 20pt;
        > .title {
        }
        > .content {
          margin-top: 9pt;
        }
      }
    }
    > .div-map {
      width: calc(94% - 10pt);

      > .detail-map {
        height: 300pt;
      }
    }
  }
}

@media (max-width: $medium) {
  .newcon-content-activities-page {
    > .detail-content {
      padding-top: 20pt;
      width: calc(95% - 10pt);

      > .detail-header-content {
        margin-bottom: 10pt;

        > .title {
        }

        > .tagline {
        }
      }

      > .image {
      }
      > .detail-title-content {
        > .title {
        }
        > .content {
          margin-top: 7pt;
        }
      }
    }
    > .div-map {
      width: calc(95% - 10pt);

      > .detail-map {
        height: 240pt;
      }
    }
  }
}

@media (max-width: $small) {
  .newcon-content-activities-page {
    > .detail-content {
      width: calc(96% - 10pt);

      > .detail-header-content {
        > .title {
        }

        > .tagline {
        }
      }

      > .image {
      }
      > .detail-title-content {
        > .title {
        }
        > .content {
          margin-top: 5pt;
        }
      }
    }
    > .div-map {
      width: calc(96% - 10pt);

      > .detail-map {
        height: 200pt;
      }
    }
  }
}
