.newcon-post-page {
  width: 100%;
  height: 150pt;
  margin-top: 15pt;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px dashed #d0d0d0;
  .ck.ck-editor {
    position: relative;
    height: 100pt;
    overflow: auto;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    display: none !important;
  }
  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    border-color: white;
    height: 95pt;
  }
  .ck-focused {
    border: none !important;
  }
  .comment-button { 
    text-align: center;
    background-color: #2680eb !important;
    border-radius: 3px !important;
    transition: 0.3;
    &:hover {
      transition: 0.3;
      background-color: #468ce0 !important;
    }
  }
}

.newcon-post-comment-page {
  > .post-comment-item {
    margin-top: 15pt;
    display: flex;
    position: relative;
    height: auto;
    background-color: white;
    box-shadow: 0px 5px 20px 0px $shadow-vote-vard;
    &:hover {
      box-shadow: 0px 5px 20px 0px $shadow-vote-vard-hover;
    }
    > .wrapper-profile-comment {
      width: calc(100% - 100pt);
      height: auto;
      border-right: 0.7px solid #e8e9ea;
      display: flex;
      flex-direction: column;
      align-items: center;
      > .wrapper-comment {
        padding: 15pt;
        width: calc(100% - 30pt);
        height: auto;
        min-height: 40pt;
        word-break: break-word;
        @include font-size-9-200;
      }
      > .wrapper-profile {
        display: flex;
        width: calc(100% - 20pt);
        padding: 0 10pt;
        word-break: break-word;
        height: 50pt;
        align-items: center;
        justify-content: space-between;
        @include font-size-8-400;
        position: relative;
        border-bottom: 0.7px solid #e8e9ea;

        > .profile {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          > .avatar {
            width: 35pt;
            height: 35pt;
            border-radius: 50%;
            border: 1px solid $bg-color1;
            margin-right: 10pt;
          }
          > .profile-name {
            margin-right: 10pt;
            color: $color-7;
            word-break: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }

        > .detail {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          width: 50%;

          > .comment-created {
            margin-right: 10pt;
            @include font-size-9-400;
            color: $secondary;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          .material-icons {
            font-family: "Material Icons";
            font-weight: normal;
            font-style: normal;
            font-size: 20px !important;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: "liga";
            -webkit-font-smoothing: antialiased;
          }
          > .edit {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 50%;
            width: 20pt;
            right: 0px;
            top: 0px;
            color: #6c757d;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
              color: #2680eb !important;
              transition: 0.5s;
              transform: scale(1.12);
              -webkit-transform: scale(1.12);
              -moz-transform: scale(1.12);
              -ms-transform: scale(1.12);
              -o-transform: scale(1.12);
            }
          }
          > .delete {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            width: 20pt;
            color: #6c757d;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
              color: red !important;
              transition: 0.5s;
              transform: scale(1.12);
              -webkit-transform: scale(1.12);
              -moz-transform: scale(1.12);
              -ms-transform: scale(1.12);
              -o-transform: scale(1.12);
            }
          }
        }
      }
    }
    > .wrapper-like-dislike {
      width: 100pt;
      height: 110pt;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      position: relative;
      > .wrapper-action {
        display: flex;
        width: 100%;
        height: 100pt;
        @include font-size-9-400;

        > .btn-like {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          height: 100%;
          width: 50%;

          > .icon {
            width: 100%;
            height: 50pt;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              background: $bg-color2;
            }

            svg {
              fill: $primary;
            }
          }

          > .wrapper-total {
            width: 100%;
            height: calc(100% - 50pt);
            display: flex;
            justify-content: center;
            align-items: center;

            > .like-total {
              color: $primary;
              @include font-size-8-400;
            }
          }
        }

        > .btn-dislike {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          height: 100%;
          width: 50%;

          > .icon {
            width: 100%;
            height: 50pt;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              background: $bg-color2;
            }

            svg {
              fill: $danger;
              transform: rotate(180deg);
            }
          }

          > .wrapper-total {
            width: 100%;
            height: calc(100% - 50pt);
            display: flex;
            justify-content: center;
            align-items: center;

            > .dislike-total {
              color: $danger;
              @include font-size-8-400;
            }
          }
        }
      }
    }
  }
  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    border-color: white;
  }
  .ck-focused {
    height: 100pt !important;
  }
  *:focus {
    outline: none;
  }
}

@media (max-width: $xxlarge) {
  .newcon-post-page {
    > .example-form {
      > .example-full-width {
        > .input-text {
        }
      }
    }
    .comment-button {
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
    }
  }

  .newcon-post-comment-page {
    > .post-comment-item {
      &:hover {
      }
      > .wrapper-profile-comment {
        > .wrapper-comment {
        }
        > .wrapper-profile {
          > .profile {
            > .avatar {
            }
            > .profile-name {
            }
          }

          > .detail {
            > .comment-created {
            }
            .material-icons {
            }
            > .edit {
              &:hover {
              }
            }
            > .delete {
              &:hover {
              }
            }
          }
        }
      }
      > .wrapper-like-dislike {
        > .wrapper-action {
          > .btn-like {
            > .icon {
              &:hover {
              }

              svg {
              }
            }

            > .wrapper-total {
              > .like-total {
              }
            }
          }

          > .btn-dislike {
            > .icon {
              &:hover {
              }

              svg {
              }
            }

            > .wrapper-total {
              > .dislike-total {
              }
            }
          }
        }
      }
    }
    .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    }
    .ck-focused {
    }
    *:focus {
    }
  }
}

@media (max-width: $xlarge) {
  .newcon-post-page {
    > .example-form {
      > .example-full-width {
        > .input-text {
        }
      }
    }
    .comment-button {
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
    }
  }

  .newcon-post-comment-page {
    > .post-comment-item {
      &:hover {
      }
      > .wrapper-profile-comment {
        > .wrapper-comment {
        }
        > .wrapper-profile {
          > .profile {
            > .avatar {
            }
            > .profile-name {
            }
          }

          > .detail {
            > .comment-created {
            }
            .material-icons {
            }
            > .edit {
              &:hover {
              }
            }
            > .delete {
              &:hover {
              }
            }
          }
        }
      }
      > .wrapper-like-dislike {
        > .wrapper-action {
          > .btn-like {
            > .icon {
              &:hover {
              }

              svg {
              }
            }

            > .wrapper-total {
              > .like-total {
              }
            }
          }

          > .btn-dislike {
            > .icon {
              &:hover {
              }

              svg {
              }
            }

            > .wrapper-total {
              > .dislike-total {
              }
            }
          }
        }
      }
    }
    .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    }
    .ck-focused {
    }
    *:focus {
    }
  }
}

@media (max-width: $large) {
  .newcon-post-page {
    > .example-form {
      > .example-full-width {
        > .input-text {
        }
      }
    }
    .comment-button {
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
    }
  }

  .newcon-post-comment-page {
    > .post-comment-item {
      &:hover {
      }
      > .wrapper-profile-comment {
        > .wrapper-comment {
        }
        > .wrapper-profile {
          > .profile {
            > .avatar {
            }
            > .profile-name {
            }
          }

          > .detail {
            > .comment-created {
            }
            .material-icons {
            }
            > .edit {
              &:hover {
              }
            }
            > .delete {
              &:hover {
              }
            }
          }
        }
      }
      > .wrapper-like-dislike {
        > .wrapper-action {
          > .btn-like {
            > .icon {
              &:hover {
              }

              svg {
              }
            }

            > .wrapper-total {
              > .like-total {
              }
            }
          }

          > .btn-dislike {
            > .icon {
              &:hover {
              }

              svg {
              }
            }

            > .wrapper-total {
              > .dislike-total {
              }
            }
          }
        }
      }
    }
    .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    }
    .ck-focused {
    }
    *:focus {
    }
  }
}

@media (max-width: $medium) {
  .newcon-post-page {
    > .example-form {
      > .example-full-width {
        > .input-text {
        }
      }
    }
    .comment-button {
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
    }
  }

  .newcon-post-comment-page {
    > .post-comment-item {
      flex-direction: column;

      &:hover {
      }
      > .wrapper-profile-comment {
        width: 100%;
        border-right: unset;
        border-bottom: 0.7px solid #e8e9ea;

        > .wrapper-comment {
        }
        > .wrapper-profile {
          > .profile {
            > .avatar {
            }
            > .profile-name {
            }
          }

          > .detail {
            > .comment-created {
            }
            .material-icons {
            }
            > .edit {
              &:hover {
              }
            }
            > .delete {
              &:hover {
              }
            }
          }
        }
      }
      > .wrapper-like-dislike {
        width: 100%;
        height: 40pt;

        > .wrapper-action {
          height: 100%;

          > .btn-like {
            flex-direction: row;
            justify-content: center;
            border-right: 0.1px solid #e8e9ea;

            > .icon {
              height: 100%;

              &:hover {
              }

              svg {
              }
            }

            > .wrapper-total {
              > .like-total {
              }
            }
          }

          > .btn-dislike {
            flex-direction: row;
            justify-content: center;
            border-left: 0.1px solid #e8e9ea;

            > .icon {
              height: 100%;

              &:hover {
              }

              svg {
              }
            }

            > .wrapper-total {
              > .dislike-total {
              }
            }
          }
        }
      }
    }
    .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    }
    .ck-focused {
    }
    *:focus {
    }
  }
}

@media (max-width: $small) {
  .newcon-post-page {
    > .example-form {
      > .example-full-width {
        > .input-text {
        }
      }
    }
    .comment-button {
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
    }
  }

  .newcon-post-comment-page {
    > .post-comment-item {
      &:hover {
      }
      > .wrapper-profile-comment {
        > .wrapper-comment {
        }
        > .wrapper-profile {
          flex-direction: column;
          align-items: flex-start;
          height: auto !important;
          > .profile {
            width: 100% !important;
            padding: 10pt 0;
            > .avatar {
            }
            > .profile-name {
            }
          }

          > .detail { 
            padding-bottom: 10pt;
            width: 100% !important;
            > .comment-created {
              position: absolute;
              left: 0;
              margin-left: 10pt;
              margin-right: unset;
            }
            .material-icons {
            }
            > .edit {
              &:hover {
              }
            }
            > .delete {
              &:hover {
              }
            }
          }
        }
      }
      > .wrapper-like-dislike {
        > .wrapper-action {
          > .btn-like {
            > .icon {
              &:hover {
              }

              svg {
              }
            }

            > .wrapper-total {
              > .like-total {
              }
            }
          }

          > .btn-dislike {
            > .icon {
              &:hover {
              }

              svg {
              }
            }

            > .wrapper-total {
              > .dislike-total {
              }
            }
          }
        }
      }
    }
    .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    }
    .ck-focused {
    }
    *:focus {
    }
  }
}
