<style>
    .wrapper-paginator-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        min-height: 300pt;
    }
    
    .back-drop {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #f5f5f5;
        opacity: 0.5;
    }
    
    @media (max-width: 1440px) {
        .wrapper-paginator-spinner {
            min-height: 260pt;
        }
    }
    
    @media (max-width: 1200px) {
        .wrapper-paginator-spinner {
            min-height: 220pt;
        }
    }
    
    @media (max-width: 1024px) {
        .wrapper-paginator-spinner {
            min-height: 180pt;
        }
    }
    
    @media (max-width: 768px) {
        .wrapper-paginator-spinner {
            min-height: 140pt;
        }
    }
    
    @media (max-width: 479px) {
        .wrapper-paginator-spinner {
            min-height: 120pt;
        }
    }
</style>
<ng-container *ngIf="isLoading || data.length === 0; else elseFieldName">
    <div class="wrapper-paginator-spinner">
        <span class="back-drop"></span>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <span *ngIf="data.length === 0 && !isLoading">ไม่ค้นพบข้อมูล</span>
    </div>
</ng-container>
<ng-template #elseFieldName>
    <ng-container *ngFor="let row of data; let index = index">
        <user-post-card *ngIf="isShow(index)" [isEdit]="isEditFunction(index)" [link]="getLink(row)" [isEdit]="isEdit" [data]="row" (clickEditCard)="clickEditCard.emit($event)">
        </user-post-card>
    </ng-container>
</ng-template>
<mat-paginator [length]="data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [hidePageSize]="hidePageSize">
</mat-paginator>