.content-card {
  display: flex;
  height: 190pt;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin: 15px 0;
  box-shadow: 1px 2px 4px -3px $shwdow-cards;

  &:hover {
    box-shadow: 3px 9px 8px -6px $shwdow-cards;
  }

  > .content-card-img > .content-card-img-back {
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  &:hover > .content-card-img > .content-card-img-back {
    opacity: 1;
  }

  > .content-card-img > .img-content-card {
    transition: 0.3s ease-in-out;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }

  &:hover > .content-card-img > .img-content-card {
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
      skew(0deg, 0deg);
  }

  &.image-header {
    display: block;
    .content-card-img {
      width: 100% !important;
      height: unset !important;
    }
  }

  > .content-card-img {
    width: 200pt;
    height: 100%;
    position: relative;
    overflow: hidden;

    > .content-card-img-back {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: rgba(17, 17, 17, 0.2);
    }

    > .img-content-card {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  > .wrapper-content-card {
    width: calc(100% - 200pt - 50px);
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    > .wrapper-content-card-content {
      > .title-content-card {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include font-size-6-400;
        word-break: break-word;
      }

      > .content-content-card {
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include font-size-8-200;
      }
    }

    > .footer-content-card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      a {
        @include font-size-9-300;
        text-decoration: none;
        min-width: 40pt;
        margin-right: 10pt;
      }

      > .created {
        color: $gray;
        width: auto;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include font-size-10-400;
      }
    }
  }
}

@media (max-width: $xxlarge) {
  .content-card {
    height: 175pt;

    &:hover {
    }

    > .content-card-img > .content-card-img-back {
    }

    &:hover > .content-card-img > .content-card-img-back {
    }

    > .content-card-img > .img-content-card {
    }

    &:hover > .content-card-img > .img-content-card {
    }

    &.image-header {
      .content-card-img {
      }
    }

    > .content-card-img {
      width: 180pt;

      > .content-card-img-back {
      }

      > .img-content-card {
      }
    }

    > .wrapper-content-card {
      width: calc(100% - 180pt - 50px);

      > .wrapper-content-card-content {
        > .title-content-card {
        }

        > .content-content-card {
        }
      }

      > .footer-content-card {
        a {
        }
        > .created {
        }
      }
    }
  }
}

@media (max-width: $xlarge) {
  .content-card {
    height: 160pt;

    &:hover {
    }

    > .content-card-img > .content-card-img-back {
    }

    &:hover > .content-card-img > .content-card-img-back {
    }

    > .content-card-img > .img-content-card {
    }

    &:hover > .content-card-img > .img-content-card {
    }

    &.image-header {
      .content-card-img {
      }
    }

    > .content-card-img {
      width: 160pt;

      > .content-card-img-back {
      }

      > .img-content-card {
      }
    }

    > .wrapper-content-card {
      width: calc(100% - 160pt - 30px);
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;

      > .wrapper-content-card-content {
        > .title-content-card {
        }

        > .content-content-card {
        }
      }

      > .footer-content-card {
        a {
        }
        > .created {
        }
      }
    }
  }
}

@media (max-width: $large) {
  .content-card {
    height: 155pt;
    margin: 10px 0;

    &:hover {
    }

    > .content-card-img > .content-card-img-back {
    }

    &:hover > .content-card-img > .content-card-img-back {
    }

    > .content-card-img > .img-content-card {
    }

    &:hover > .content-card-img > .img-content-card {
    }

    &.image-header {
      .content-card-img {
      }
    }

    > .content-card-img {
      width: 150pt;

      > .content-card-img-back {
      }

      > .img-content-card {
      }
    }

    > .wrapper-content-card {
      width: calc(100% - 150pt - 30px);

      > .wrapper-content-card-content {
        > .title-content-card {
        }

        > .content-content-card {
        }
      }

      > .footer-content-card {
        a {
        }
        > .created {
        }
      }
    }
  }
}

@media (max-width: $medium) {
  .content-card {
    height: 150pt;

    &:hover {
    }

    > .content-card-img > .content-card-img-back {
    }

    &:hover > .content-card-img > .content-card-img-back {
    }

    > .content-card-img > .img-content-card {
    }

    &:hover > .content-card-img > .img-content-card {
    }

    &.image-header {
      .content-card-img {
      }
    }

    > .content-card-img {
      width: 160pt;

      > .content-card-img-back {
      }

      > .img-content-card {
      }
    }

    > .wrapper-content-card {
      width: calc(100% - 160pt - 30px);

      > .wrapper-content-card-content {
        > .title-content-card {
        }

        > .content-content-card {
        }
      }

      > .footer-content-card {
        a {
        }
        > .created {
        }
      }
    }
  }
}

@media (max-width: $small) {
  .content-card {
    height: auto;
    flex-direction: column;

    &:hover {
    }

    > .content-card-img > .content-card-img-back {
    }

    &:hover > .content-card-img > .content-card-img-back {
    }

    > .content-card-img > .img-content-card {
    }

    &:hover > .content-card-img > .img-content-card {
    }

    &.image-header {
      .content-card-img {
      }
    }

    > .content-card-img {
      width: 100%;
      height: 155pt;

      > .content-card-img-back {
      }

      > .img-content-card {
      }
    }

    > .wrapper-content-card {
      width: calc(100% - 30px);

      > .wrapper-content-card-content {
        margin-bottom: 15pt;

        > .title-content-card {
        }

        > .content-content-card {
        }
      }

      > .footer-content-card {
        a {
        }
        > .created {
        }
      }
    }
  }
}
