.newcon-edit-proposal-page {
    position: relative;
    width: auto;
    height: auto;
    background-color: white;
    box-shadow: 0px 1px 3px 0px #d3d3d4;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
        box-shadow: 0px 1px 8px 0px $shadow-vote-vard-hover;
    }
    >.edit-h {
        width: auto;
        height: auto;
        border-bottom: whitesmoke 2px solid;
        padding: 30pt;
        >.edit-head-one {
            @include font-size-7-400;
        }
    }
    >.edit-input {
        width: auto;
        height: auto;
        border-bottom: whitesmoke 2px solid;
        padding: 30pt;
        >.input {
            display: flex;
            flex-direction: column;
            >.text {
                width: 20%;
                @include font-size-8-400;
            }
            >.example-form {
                width: 100%;
            }
            >.example-full-width {
                width: 100%;
            }
            >.dialog-image-body {
                padding: 10pt 0pt;
                position: relative;
                >.file-upload {
                    width: 100%;
                    margin-bottom: 5pt;
                    >.label-open-img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 60pt;
                        width: calc(100% - 2pt);
                        cursor: pointer;
                        border: 1px dashed $color-4;
                        background: transparent;
                        opacity: 0.8;
                        &:hover {
                            opacity: 1;
                            background: $bg-color1;
                        }
                        >.input-img[type="file"] {
                            display: none;
                        }
                    }
                }
            }
            >.content-text {
                width: 100%;
                .mat-form-field {
                    display: inline-block;
                    position: relative;
                    text-align: left;
                    width: 100%;
                }
                .mat-form-field-appearance-outline .mat-form-field-flex {
                    padding: 0 .75em 0 .75em;
                    margin-top: -.25em;
                    position: relative;
                    height: 200pt;
                }
            }
        }
    }
}